<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alan Banks Lab6</title>

    <!-- Script used to update home.html real-time without page refresh. -->
    <script type="text/javascript"> 
        function display_ct() {

            function display_c(){
                var refresh=1000; // Refresh rate in milli seconds
                mytime=setTimeout('display_ct()',refresh)
            }

            var x = new Date()
            var hour=x.getHours();
            var minute=x.getMinutes();
            var second=x.getSeconds();
            if(hour <10 ){hour='0'+hour;}
            if(minute <10 ) {minute='0' + minute; }
            if(second<10){second='0' + second;}
            var current_time = hour + ':' + minute + ':' + second
            document.getElementById('ct').innerHTML = current_time;
            display_c();
        }
    </script>
</head>
<body onload=display_ct();>

    <!--
    Below we are actually rendering header-nav.html, along with
    home.html
     -->
     {% extends "header-nav.html" %}


    <!-- 
        The { {var_name} } represent code passed in from the python file
        
        For Example: inside the home() method in our python file we assigned
        {DATE} = today.strftime("%B %d, %Y"),

        This allows the usage of python libraries/code to render information dynamically
        whether it be the Date and Time, or additional data.
    -->
    {% block content %}

        <div class="home">

            <!-- Date and Time on the Webpage -->
            <!-- The <span> Tag is constantly being re-written every second due to script in lines (7-26)-->
            <h1>Today's Date : {{ DATE }} || <span id="ct"></span> EST </h1>
            <p>A website built with Python and the 
                <a target="_blank" rel="noopener noreferrer" href="https://flask.palletsprojects.com/en/1.1.x/#">Flask</a>
                framework.
            </p>
            <p style="color:red"><b>Note:</b> current time is in 24 hour format</p>

            <!-- 
            We don't need to show the user this <p> tag (below) anymore after Javascript implementation for current time.
            <p style="color:red">EST time is determined at page load. In order to update it, you need to refresh this page.</p> 
            -->

            <div class="trivia_container">
                <h2 class="trivia_header">Random Math Trivia</h2>
                <p style="color:red">* * * You can click the home tab in the top right navbar to render more trivia * * *</p>

                <!-- 
                    Below is an ordered list which contains an inline-block for rendering the
                    3 random facts coming from the home() method in our python_flask.py file
                -->
                <ol>
                {% for fact in randomfacts %} 
                    <li><b>{{ fact }}</b></li>
                {% endfor %}
                </ol>
            </div>
            <!-- End of <div> Trivia Container </div> -->

        </div> 
        <!-- end of div class "home" -->
    {% endblock %}
</body>
</html>